section button {
    width: 5rem;
    height: 2.5rem;
}

section .diller {
    height: 2.5rem;
    width: 20rem;
}

.red{
    color: red;
}

/* duruma gore css dosyasi bootstrapi ezsin diye , css linkini bootstrap linkinin altina bagliyoruz. */